<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProductionPlanCreateController</servlet-name>
        <servlet-class>controller.ProductionPlanCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlanController</servlet-name>
        <servlet-class>controller.UpdatePlanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCampaign</servlet-name>
        <servlet-class>controller.EditCampaign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCampaign</servlet-name>
        <servlet-class>controller.DeleteCampaign</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductionPlanCreateController</servlet-name>
        <url-pattern>/plan/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PlanCampaignController</servlet-name>
        <servlet-class>controller.PlanCampaignController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlanCampaignController</servlet-name>
        <url-pattern>/PlanCampaignController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlanController</servlet-name>
        <url-pattern>/updatePlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCampaign</servlet-name>
        <url-pattern>/editCampaign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCampaign</servlet-name>
        <url-pattern>/deleteCampaign</url-pattern>
    </servlet-mapping>
</web-app>
